/* *********************** */
/* Login Page */
/* *********************** */

body.login {
	font-family: Circular, Helvetica, sans-serif;
}

#login {
	width: 400px;
}

.login {
	background: darken($color-default,5%);
	color: $color-accent-1;
}

// Logo

.login label {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: #eee;
}

.login #backtoblog,
.login #nav {
	color: #fff;
	padding: 0 38px;

	a {
		color: $color-secondary;
	}

}


#loginform .button.button-primary {
	border-radius: 0px;
}

.login form {
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	background: $color-default;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 32px 32px;
	border: none;
	border-radius: 4px;
}
.mobile #login .message, 
.mobile #login form, 
.mobile #login_error,
.mobile #login form {
	margin: 10px 15px;
}
.login form .forgetmenot {
	margin-top: 10px;
}
.login form .submit {
	margin: 10px 0 0 0;
}
.login input[type=text],
.login input[type=password],
.login input[type=checkbox] {
	color: #fff;
	background-color: $color-primary;
	border: 1px solid rgba(0,0,0,0);
	-webkit-box-shadow: none;
	box-shadow: none;
}