@mixin clear {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

html.wp-toolbar {
	background: #fff;
	background: none;
	padding-top: 0;
}

/* *********************** */
/* Main Wraps */
/* *********************** */
#wpwrap {
	background: #fff;
	background: none;
}

#wpcontent {
	margin-left: 200px;
	padding-left: 30px;
}
@media screen and (max-width: 782px) {
	#wpcontent,
	.auto-fold #wpcontent {
		padding-left: 20px;
	}
}
// Some Jetpack specific fixes
.jetpack-pagestyles #wpcontent {
	margin-left: 200px;
}
.jetpack-pagestyles .modal {
	margin-left: 200px;
	top: 81px;
}
#wpbody {
	padding-top: 61px;

	.folded & {
		padding-top: 36px;
	}

	@media screen and (max-width: 960px) {
		padding-top: 36px;
	}
	@media screen and (max-width: 782px) {
		padding-top: 46px;

		.wp-responsive-open & {
			right: -210px;
		}
	}
}
.wrap {
	margin: 28px 60px 0 0;
}
@media screen and (max-width: 782px) {
	.wrap {
		margin: 20px 20px 0 0;
	}
}
.edit-tags-php .wrap {
	@include clear;
	margin: 40px 0 0 0;
}
.post-php .wrap,
.post-new-php .wrap,
.comment-php .wrap {
	margin: 0;
}
@media only screen and (max-width: 850px) {
	.post-php .wrap,
	.post-new-php .wrap,
	.comment-php .wrap {
		margin: 0 60px 0 0;
	}
}
@media screen and (max-width: 782px) {
	.post-php .wrap,
	.post-new-php .wrap,
	.comment-php .wrap {
		margin: 0 20px 0 0;
	}
}