.sl_notification-bar {
	background-color: get-color(primary);
	position: relative;
	padding: $spacing--xs/4 0;
	@include transition (all .3s ease-in-out);

	&.sl_active {
		opacity: 1;
		@include transition (all .3s ease-in-out);
	}//end .sl_active

	@include breakpoint (medium down) {
		position: fixed;
		bottom: 0;
		padding: $spacing--sm 0;
		z-index: 11;
		opacity: 0;
		width: 100%;
	}//end medium down breakpoint

	& > .sl_inner {
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint (medium down) {
			flex-direction: column;
		}//end medium down breakpoint
	}//end & > .sl_inner

	& * {
		color: get-color(inverse);
	}//end & *

	p {
		margin-bottom: 0;
		font-weight: $font-weight--regular;
	}//end p

	.sl_button {
		font-size: 1rem;
		padding: $spacing--xs/2;
		margin-left: $spacing--sm;
		margin-bottom: 0;
		background-color: get-color(secondary);
		color: get-color(secondary);
		font-weight: $font-weight--regular;
		border-radius: $border-radius/2;

		@include breakpoint (medium down) {
			width: 100%;
			margin-left: 0;
			margin-top: $spacing--xs;
		}//end medium down breakpoint
	}//end sl_button

	&__close {
		position: absolute;
		right: $spacing--lg;
		top: calc(50% - 11.5px);
		cursor: pointer;
		font-size: 1.25rem;
		z-index: 2;

		@include breakpoint (medium down) {
			top: $spacing--xs;
			right: $spacing--xs;
			z-index: 2;
		}//end medium down breakpoint
	}//end &__close
}//end .sl_notification-bar