.sl_sidebar {

	&__container {
	}//end &__container

	&__menu {
	}//end &__menu

	&__title {
	}//end &__title
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search