{# MOBILE MENU #}
<div class="sl_mobilenav" data-responsive-toggle="sl_mobilemenu" data-hide-for="large">
	
	{# Left Side #}
	<div class="sl_mobilenav__left">
		<a href="{{ site.url }}" class="sl_mobilenav__logo">
			{% include "sl_logo.twig" with {'image': option} %}
		</a>{# /.sl_nav-logo #}
	</div>{# /.sl_mobilenav__left #}

	{# Right Side #}
	<div class="sl_mobilenav__right">

		{# If Menu Exists #}
		{% if menu.theme_location != null %}

		<button class="sl_button sl_button--menu" type="button" data-toggle="sl_offcanvas">
			<span class="sl_mobilenav__label">Menu</span>
		</button>{# /.sl_button sl_button--menu #}

		{% endif %}
	</div>{# /.sl_mobilenav__right #}
</div>{# sl_mobilnav #}


{# DESKTOP MENU #}
<div class="sl_nav show-for-large">

		{# Left Side #}
		<div class="sl_nav__left">
			<a href="{{ site.url }}" class="sl_nav__logo">
				{% include "sl_logo.twig" with {'image': option} %}
			</a>{# /.sl_nav__logo #}
		</div>{# /.sl_nav__left #}

		{# Right Side #}
		<div class="sl_nav__right">
			<div class="sl_nav__secondary">
				<div class="sl_nav__phone">
					<div class="sl_phone">
						<span class="sl_phone__cta">Call to Action</span>
						<a class="sl_button sl_button--phone sl_phone__number" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>
					</div> {# /.sl_phone #}
				</div> {# /.sl_nav__phone #}
				<div class="sl_nav__search">
					{% include "sl_search.twig" %}
				</div>{# /.sl_nav__search #}

				{# If User Menu Exists #}
				{% if user_menu.theme_location != null %}

				<div class="sl_nav__usermenu">
					{% include "menu/user-menu.twig" with {'user_menu': user_menu.get_items} %}
				</div>{# /.sl_nav__usermenu #}

				{% endif %}

				{% if option.add_translate == 1 %}
				<div id="sl_translate" class="sl_usernav__translate">
					<a href="#">Español</a>
				</div>{# /.sl_nav__usermenu #}
				{% endif %}
			</div>{# /.sl_nav__secondary #}

			{# If Menu Exists #}
			{% if menu.theme_location != null %}

			<div class="sl_nav__menu">
				{% include "menu/menu.twig" with {'menu': menu.get_items} %}
			</div>{# /.sl_nav__menu #}

			{% endif %}
		</div>{# /.sl_nav__right #}
</div>{# /#sl_top-bar #}
