{% extends "module.twig" %}

{% block card %}
	
	{% if module.header %}
	<h2>{{module.header}}</h2>
	{% endif %}
	
	{# Grid #}
	<div class="sl_row {% if module.type_select == "Icon" %}sl_row--icon{% endif %} {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

		{# Loop through Articles if Article Type is Selected #}
		{% if module.type_select == 'Article' %}

			{% for card in Post(module.article) %}
			<div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" %}{% endif %}">
				<div class="sl_card sl_card--deck sl_card--{{module.type_select}}">

					{# CARD IMAGE #}
					<div class="sl_card__image" style="background-image: url({{card.thumbnail.src()}})"></div>
					
					{# CARD CONTENT #}
					<div class="sl_card__content">
						<h3>{{ card.title|truncate(12) }}</h3>

						<p>{{ card.preview.length(25).end(' ...').read_more(false).force }}</p>

						<a class="sl_button sl_button--simple" href="/{{card.slug}}/">Read Article</a>
					</div>{# /.sl_card__content #}

				</div>{# /.sl_card #}
			</div>{# /.sl_cell #}
			{% endfor %}
		{% else %}

		{# Else, Loop through cards from the deck #}
		{% for card in this.deck %}
			<div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" %}{% endif %}">

				{# ADD LINK WRAPPER TO CARD IF ACTIVE #}
				{% if card.link_wrapper == true %}
					<a id="{{this.acf_fc_layout}}{{post.id}}{{loop.parent.loop.index}}{{loop.index}}" href="{{card.link_url.url}}" target="{{card.link_url.target}}" class="sl_card__wrapper {% if card.card_image.image %}sl_card__wrapper--image{% endif %}">
				{% endif %}

					<div class="sl_card sl_card--deck sl_card--{{module.type_select}}">

						{# CARD IMAGE #}
						{% if card.card_image.image %}

							{% if module.type_select == "Icon" %}
								<div class="sl_card__icon">
									{% include "card-image.twig" with { image : card.card_image.image } %}
								</div>
							{% else %}

							<div class="sl_card__image" style="background-image: url({{Image(card.card_image.image).src}})"></div>
							{% endif %}
						{% endif %}	
						

						{# CARD CONTENT - checks to see if card content exists to add content wrapper#}
						{% if card.card.pre_header or card.card.header or card.card.paragraph or card.card.buttons and card.deck_image %}
						<div class="sl_card__content">
						{% endif %}
						{# end checking for content #}
							
							{# PRE HEADER #}
							{% if card.card.pre_header %}
								<h5>{{ card.card.pre_header }}</h5>
							{% endif %}				
							
							{# HEADER #}
							{% if card.card.header %}
								<h3>{{ card.card.header }}</h3>
							{% endif %}	
							
							{# WYSIWYG #}
							{% if card.card.paragraph %}
								{% include "card-paragraph.twig" with { paragraph : card.card.paragraph } %}
							{% endif %}	
							
							{# BUTTONS #}
							{% if card.card.buttons %}
								{% include "card-button.twig" with { card : card.card } %}
							{% endif %}
						
						{# Checks to see if card content exists to add closing div#}
						{% if card.card.pre_header or card.card.header or card.card.paragraph or card.card.buttons %}
						</div>{# /.sl_card__content #}
						{% endif %}
						{# end checking for content #}

					</div>{# /.sl_card #}

				{% if card.link_wrapper == true %}
					</a>{# /.sl_card__wrapper #}
				{% endif %}

			</div>{# /.sl_cell #}
		{% endfor %}
		{% endif %}

	</div>{# /.sl_row #}

	{% if module.button %}
		<div class="sl_deck__button">
			<a class="sl_button" href="{{module.button.url}}" target="{{module.button.target}}">{{ module.button.title }}</a>
		</div>{# /.sl_deck__button #}
	{% endif %}

{% endblock %}
