{% extends "module.twig" %}

{% block card %}

    {# INSURANCE DUO #}
    {% if module.type_select == "duo" %}
    <div class="sl_row sl_insurance__duo {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

        {#  DUO CONTENT #}
        <div class="sl_duo__content sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
            <div class="sl_duo__card sl_card sl_card--duo">
				<h2>Foundations accepts most major insurance providers, including those shown here.</h2>
            
            {% if module.buttons %}
				{% include "card-button.twig" with { card : module } %}
			{% endif %}
            </div>{# /.sl_duo__card.sl_card.sl_card--duo #}
	 	</div>{# /.sl_duo__content.sl_cell auto #}

        
        {# DUO MEDIA #}
        <div class="sl_duo__media sl_cell sl_duo__media--insurance {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
            <div class="sl_row sl_insurance__grid large-up-{{module.row}} medium-up-2 small-up-2 xsmall-up-2">

                {# Adds insurance images based on which checkboxes were selected in the theme options admin page. #}
                {% for item in module.insurance %}
                <div class="sl_cell sl_insurance__logo">
                    {% if item == "4yourchoice" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/4yourchoice.png">
                    {% endif %}
                    {% if item == "bluecross" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/bluecrossblueshield.png">
                    {% endif %}
                    {% if item == "beaconhealth" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/beaconhealth.png">
                    {% endif %}
                    {% if item == "healthnet" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/healthnet.png">
                    {% endif %}
                    {% if item == "magellan" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/magellan.png">
                    {% endif %}
                    {% if item == "compsych" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/compsych.png">
                    {% endif %}
                    {% if item == "coresource" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/coresource.png">
                    {% endif %}
                    {% if item == "coventry" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/coventry.png">
                    {% endif %}
                    {% if item == "cigna" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/cigna.png">
                    {% endif %}
                    {% if item == "aetna" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/aetna.png">
                    {% endif %}
                    {% if item == "unitedhealthcare" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/unitedhealthcare.png">
                    {% endif %}
                    {% if item == "humana" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/humana.png">
                    {% endif %}
                    {% if item == "valueoptions" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/valueoptions.png">
                    {% endif %}
                    {% if item == "priorityhealth" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/priorityhealth.png">
                    {% endif %}
                    {% if item == "tricare" %}
                        <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/tricare.png">
                    {% endif %}
                </div>{# /.sl_cell.sl_insurance__logo #}
                {% endfor %}

            </div>{# /.sl_row.sl_insurance__grid #}
        </div> {# /.sl_duo__media #} 
    </div>{# /.sl_row #}
    {% endif %}
    
    {# INSURANCE GRID #}
    {% if module.type_select == "deck" %}
	<h2>Foundations accepts most major insurance providers, including those shown here.</h2>
    {# Adds insurance images based on which checkboxes were selected in the theme options admin page. #}
    <div class="sl_row sl_insurance__deck large-up-{{module.row}} medium-up-{{module.row}} small-up-2 xsmall-up-2">
        {% for item in module.insurance %}
            <div class="sl_cell sl_insurance__logo">
                {% if item == "bluecross" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/bluecrossblueshield.png">
                {% endif %}
                {% if item == "beaconhealth" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/beaconhealth.png">
                {% endif %}
                {% if item == "magellan" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/magellan.png">
                {% endif %}
                {% if item == "coresource" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/coresource.png">
                {% endif %}
                {% if item == "cigna" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/cigna.png">
                {% endif %}
                {% if item == "aetna" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/aetna.png">
                {% endif %}
                {% if item == "unitedhealthcare" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/unitedhealthcare.png">
                {% endif %}
                {% if item == "humana" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/humana.png">
                {% endif %}
                {% if item == "multiplan" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/multiplan.png">
                {% endif %}
                {% if item == "valueoptions" %}
                    <img src="{{site.url}}/wp-content/themes/slate/dist/img/insurance/valueoptions.png">
                {% endif %}
            </div>{# /.sl_cell #}
        {% endfor %}
    </div>{# /.sl_insurance__deck #}

    {% if module.buttons %}
        {% include "card-button.twig" with { card : module } %}
    {% endif %}
    
    {% endif %}

{% endblock %}