.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: get-color(accent2);
	min-height: 500px;
	display: flex;
	align-items: center;

	h1 {

	}//end h1

	.sl_card {
		.sl_button-group {
			justify-content: flex-start;
		}
	}//end .sl_card
	
}//end .sl_module--billboard